# SPDX-FileCopyrightText: 2026 Huang Rui <vowstar@gmail.com>
# SPDX-License-Identifier: MIT

[options]
isa rv32ec
nret 1
nbus 1
buslen 32
solver z3

[depth]
fault_ch0 12
bus_dmem_fault_ch0 1 12
bus_imem_fault_ch0 1 12

[csrs]
mcause

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_VALIDADDR(addr) 1'b1
`define RISCV_FORMAL_IOADDR(addr) addr[31]
`define RISCV_FORMAL_MEM_FAULT
`define DITDAH32_RVFI_CSR_TRACE

[verilog-files]
@basedir@/cores/@core@/wrapper.sv
@basedir@/cores/@core@/DitDah32.sv
