# SPDX-FileCopyrightText: 2026 Huang Rui <vowstar@gmail.com>
# SPDX-License-Identifier: MIT

[options]
isa rv32ec
nret 1
solver z3

[depth]
liveness_ch0 1 4 14

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_VALIDADDR(addr) 1'b1

[assume !liveness_ch0]
always @* if (!reset && cycle == `RISCV_FORMAL_TRIG_CYCLE && rvfi_valid[0]) assume(rvfi_insn[31:0] != 32'h10500073);

[script-defines]
plugin -i @SLANG_SO@
read_slang -I@basedir@/cores/@core@ @basedir@/cores/@core@/ditdah32_trace_top.sv @basedir@/cores/@core@/DitDah32.sv @basedir@/cores/@core@/DitDah32Gpr.sv @basedir@/cores/@core@/DitDah32_DV.sv @basedir@/cores/@core@/layers-DitDah32-DV.sv --top ditdah32_trace_top

[verilog-files]
@basedir@/cores/@core@/wrapper.sv
