# SPDX-FileCopyrightText: 2026 Huang Rui <vowstar@gmail.com>
# SPDX-License-Identifier: MIT

[options]
isa rv32ec
nret 1
solver z3

[depth]
pc_fwd 1 10
pc_bwd 1 10
reg 1 12
unique 1 10 16
causal_mem 1 20
cover 1 10

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_VALIDADDR(addr) 1'b1

[script-defines]
plugin -i @SLANG_SO@
read_slang -I@basedir@/cores/@core@ @basedir@/cores/@core@/ditdah32_trace_top.sv @basedir@/cores/@core@/DitDah32.sv @basedir@/cores/@core@/DitDah32_DV.sv @basedir@/cores/@core@/layers-DitDah32-DV.sv --top ditdah32_trace_top

[verilog-files]
@basedir@/cores/@core@/wrapper.sv

[cover]
always @* if (!reset) cover (channel[0].cnt_insns >= 1);
