# SPDX-FileCopyrightText: 2026 Huang Rui <vowstar@gmail.com>
# SPDX-License-Identifier: MIT

[options]
isa rv32ec
nret 1
solver z3

[depth]
csrc_zero_mstatus_ch0 1 16
csrc_zero_mie_ch0 1 16
csrc_zero_mtvec_ch0 1 16
csrc_zero_mepc_ch0 1 16
csrc_const_misa_ch0 1 16
csrc_const_mip_ch0 1 16
csrc_const_mvendorid_ch0 1 16
csrc_const_marchid_ch0 1 16
csrc_const_mimpid_ch0 1 16
csrc_const_mhartid_ch0 1 16

[csrs]
mstatus zero_mask="32'hffffe777"
misa const="32'h40000014"
mie zero_mask="32'hfffff777"
mtvec zero_mask="32'h00000003"
mepc zero_mask="32'h00000001"
mip const="32'h00000000"
mvendorid const="32'h00000000"
marchid const="32'h00000000"
mimpid const="32'h00000000"
mhartid const="32'h00000000"

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_VALIDADDR(addr) 1'b1
`define DITDAH32_RVFI_CSR_TRACE

[assume !csrc_const_.*]
always @* if (!reset && rvfi_valid[0] && rvfi_insn[6:0] == 7'b1110011 && rvfi_insn[14:12] != 3'b000 && (rvfi_insn[31:20] == 12'h301 || rvfi_insn[31:20] == 12'h344 || rvfi_insn[31:20] == 12'hf11 || rvfi_insn[31:20] == 12'hf12 || rvfi_insn[31:20] == 12'hf13 || rvfi_insn[31:20] == 12'hf14)) assume(rvfi_insn[13] && rvfi_insn[19:15] == 5'd0);

[script-defines]
plugin -i @SLANG_SO@
read_slang -I@basedir@/cores/@core@ @basedir@/cores/@core@/ditdah32_trace_top.sv @basedir@/cores/@core@/DitDah32.sv @basedir@/cores/@core@/DitDah32_DV.sv @basedir@/cores/@core@/layers-DitDah32-DV.sv --top ditdah32_trace_top

[verilog-files]
@basedir@/cores/@core@/wrapper.sv
